GROQ_API_KEY=your_groq_api_key_here                   
GROQ_FALLLBACK_API_KEY=your_fallback_api_key_here

QDRANT_API_KEY=your_qdrant_api_key_here
QDRANT_CLUSTER_ENDPOINT=your_qdrant_cluster_endpoint_here

GEMINI_API_KEY=your_gemini_api_key_here

LOGFIRE_TOKEN=your_logfire_token_here

PORTKEY_API_KEY=your_portkey_api_key_here
PORTKEY_CONFIG_ID=your_portkey_config_id_here

ENVIRONMENT=dev