#For core API and Web framework
fastapi                 # High performance web framework for building APIs.
uvicorn[standard]       # ASGI server for running FastAPI applications.
python-dotenv           # Load environment variables from a .env file.
requests                # HTTP library for making API requests.
numpy                   # Library for numerical computing.

#For embeddings
google-generativeai     # Google Generative AI library.
langchain-google-genai # LangChain integration for Google Generative AI.
sentence-transformers   # Library for generating sentence embeddings.

#For vector database
qdrant-client          # Qdrant client for interacting with the Qdrant vector database. and semantic search.

#For data ingestion and document parsing/processing
unstructured               # Library for parsing and processing unstructured data.
python-docx                # Library/ parser for working with Microsoft Word documents.
python-pptx                # Library/parser for working with Microsoft PowerPoint presentations.
pypdf                      # Local PDF text extraction library.
beautifulsoup4             # Library for parsing HTML/Extracting HTML text and XML documents.
pdfplumber                 # Library for extracting text and tables from PDF files.

#For observability and monitoring
logfire[fastapi,requests]  # Logging and monitoring library for FastAPI and requests.[A pydantic-based logfire - traces the ingestion pipeline.]
loguru                     # Logging library for structured logging and log management which enhance logging capabilities for python applications.